<%- include('./layouts/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col">
                    <div class="card card-registration my-4">
                      <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                            alt="Sample photo" class="img-fluid"
                            style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                          <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                            <div class="card-body p-md-5 text-black">
                              <h3 class="mb-5 text-uppercase">Student registration form</h3>
          
                              <div class="row">
                                <div class="col-md-6 mb-4">
                                  <div data-mdb-input-init class="form-outline">
                                    <input type="text" id="form3Example1m" name="firstname"
                                      class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1m">First name</label>
                                  </div>
                                </div>
                               
                              </div>
                              
          
                              <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" id="form3Example90" name="phonenumber" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example90">Phone Number</label>
                              </div>
          
                              <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" id="form3Example99" name="email" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example99">Email</label>
                              </div>

                              <div data-mdb-input-init class="form-outline mb-4">
                                <input type="file" id="exampleFormControlFile1" name="uploadpic" class="form-control form-control-lg" />
                                <label class="form-label" for="exampleFormControlFile1">Upload Image</label>
                              </div>
          
                              <div class="d-flex justify-content-end pt-3">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg">Reset
                                  all</button>
                                <input type="submit" data-mdb-button-init data-mdb-ripple-init
                                  class="btnRegister btn-warning btn-lg ms-2" name="submit" value="Add User" />
                              </div>
          
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<%- include('./layouts/footer') %>